@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&family=Poppins:wght@500;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    outline: none;
}
html {
    background: url(img/bg.jpg);
	font-family: 'Open Sans', sans-serif;
}