.app{
    background: url(./../../assets/img/bg.jpg) center no-repeat;
    // background: url(https://picsum.photos/1920/1080) center no-repeat;
    height: 100vh;
    transition: background 0.3s;
}

@media (min-width: 0px) and (max-width: 319px) {
    .app {
        height: 100%;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .app {
        height: 100%;
    }
}