@keyframes ldio-s21vq6qxxx {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
  .ldioS21vq6qxxx div {
    position: absolute;
    width: 42px;
    height: 42px;
    border: 6px solid rgb(46, 46, 46);
    border-top-color: transparent;
    border-radius: 50%;
    top: 50%
  }
  .ldioS21vq6qxxx div {
    animation: ldio-s21vq6qxxx 1s linear infinite;
    top: 77px;
    left: 50%;
  }
  .loadingioSpinnerRolling35omcjqxkky {
    background: none;
  }
  .ldioS21vq6qxxx {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
  }
  .ldioS21vq6qxxx div { box-sizing: content-box; }