@import '../../../styles/mixins.scss';
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .editBtn {
        display: block;
        margin: 0 auto;
        &::after{
            content: '';
            display: block;
            width: 2px;
            height: 7px;
            background: black;
            position: absolute;
        }
        &::before {

        }
    }
    .title{
        font-size: 23px;
    }
}

.wrapper {
    .input {
        padding: 7px 21px;
        border: 1px solid #d2d2d2;
        border-radius: 39px;
        transition: border 0.3s;
        &:focus {
            border: 1px solid #b1b1b1;
        }
        &Error {
            border: 1px solid rgb(202, 37, 37);
            color: rgb(202, 37, 37);
        }
    }
    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .addBtn {
            width: 25px;
            margin-left: 10px;
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            &::before {
                content:'';
                width: 2px;
                height: 12px;
                background: #464646;
                display: block;
                position: absolute;
                border-radius: 4px;
                transition: background-color .3s;
            }
            &::after {
                content:'';
                width: 12px;
                height: 2px;
                background: #464646;
                display: block;
                position: absolute;
                border-radius: 4px;
                transition: background-color .3s;
            }
            &:hover {
                &::before {
                    background: #86c54b;
                }
                &::after {
                    background: #86c54b;
                }
            }
        }
    }
}

.list {
    margin-top: 10px;
    height: 80%;
    overflow: auto;
    &::-webkit-scrollbar {
        height: 5px;
        width: 3px;
        margin-left: 10px;
      }
    &::-webkit-scrollbar-track {
        // background: orange;
      }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.127);
        border-radius: 50px;
      }
}

.closeBtn {
    @include closeBtn;
    margin-right: 10px;
 }


