@import '../../styles/variables';
.icon {
    // width: 124px;
    height: 94px;
}

.title {
    font-size: $widget-title-fz;
}

.degreesWrapper {
    text-align: center;
    margin-left: 15px;
    .degrees {
        font-weight: 500;
        font-size: 54px;
        line-height: 45px;
    }
    .condition {
        font-weight: 400;
        font-size: 12px;
        margin-top: 12px;
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: calc(100% - 50px);
    bottom: 20px;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.infoItem{
    text-align: center;
}

.infoItemIcon{
    display: block;
    margin: 0 auto;
    height: 14px;
}

.infoItemValue {
    margin-top: 7px;
}