@import '../../../styles/variables.scss';
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button {
        background: none;
        border: none;
        margin-right: 10px;
        cursor: pointer;
        &:last-child {
            margin-right: 0px;
        }
    }

    .title {
        font-weight: 400;
        font-size: $widget-title-fz;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .text {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        font-style: italic;
        font-weight: bold;
    }
    .owner {
        display: block;
    }
}
